$borderColor: rgb(66, 66, 66);
$radius: 24px;
$spacing: 24px;


.container {
    max-width: 700px;
    border: 1px solid $borderColor;
    border-radius: $radius;
    margin: auto;
}

.pageCard {
    box-shadow: 2px 2px 6px rgb(54, 54, 54);
    border-radius: $radius;
    cursor: pointer;
    height: 100%;
    flex: 1;

    hr {
        margin-bottom: 2px;
        height: 0;
        border: none;
        border-bottom: 1px solid $borderColor;
    }
}

.p-#{$spacing} {
    padding: $spacing;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

// chat area
.chatContainer {
    width: 600px;
    height: 100vh;
    border-left: 1px solid $borderColor;
    ;
}